/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  background-color: #1e1e1e;
}

.container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.header {
  display: flex;
  gap: 20px;
  /* justify-content: end; */
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: auto;
  width: 140px;
  padding: 15px;
}
.nav {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.more {
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.about {
  padding-right: 15px;
}

.hero {
  display: flex;
  justify-content: left;
  align-items: start;
  position: relative;
  width: auto;
}

.hero-img {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  color: white;
  padding: 10px;
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  margin-top: 3em;
}

.overlay-text-headline {
  position: absolute;
  color: white;
  text-align: center;
  margin-top: 2em;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.03em;
  text-align: left;
}

.overlay-para {
  position: absolute;
  color: white;
  margin-top: 10em;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 90%;
}

/* articles grid */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  /* padding: 10px; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px 15px;
  font-size: 30px;
  text-align: center;
}

.article-image {
  width: 100%;
}

.article-date {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.intro {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust the height as needed */
  background-color: #202020;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  color: #ececec;
  display: flex;
  margin: 0;
}

article {
  padding: 10px 15px;
}

.recent-posts-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}

/* Mobile specific */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
  .welcome {
    display: flex;
    padding: 20px;
  }
}

/* Desktop */
@media screen and (min-width: 901px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }

  .container {
    width: 860px;
    background-color: #fff;
    margin: 0 auto;
  }
  .welcome {
    display: flex;
    padding: 20px;
  }

  .hero-img {
    object-fit: fill;
    /* height: 500px; */
  }

  .overlay-text {
    position: absolute;
    top: 300px;
    color: white;
    padding: 10px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    margin-top: 3em;
  }

  .overlay-text-headline {
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
  }

  .overlay-para {
    position: absolute;
    color: white;
    margin-top: 7em;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 70%;
  }

  article {
    padding: 40px 60px;
  }

  .recent-posts-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
}

/* articles page */

main {
  background-color: #fafafa;
}

.recent-posts {
  text-align: center;
}
