/* General resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  background-color: #1e1e1e;
}

/* Mobile first - media queries for larger devices */

/* Recent posts single column */
.grid-container {
  grid-template-columns: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 15px;
  font-size: 30px;
  text-align: center;
}

a h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
}

a .home-intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
}

.welcome {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

.container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.logo {
  margin-right: auto;
  width: 140px;
  padding: 15px;
}

img {
  width: 100%;
}

.overlay-text-date {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.overlay-text-headline {
  color: white;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 90%;
}

.overlay-para {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 60%;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #202020;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  color: #ececec;
  display: flex;
  margin: 0;
}

/* Articles page styles */
.recent-posts-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}

/* articles page */

main {
  background-color: #fafafa;
}

.recent-posts {
  text-align: center;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

a .article-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-top: 4px;
}

.title {
  padding-left: 40px;
  padding-top: 5px;
}

.intro {
  padding-left: 40px;
  width: 90%;
}

.main-image {
  padding: 20px;
  width: 100%;
}

.about {
  padding-left: 10px;
}

p {
  padding-top: 14px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* .nav,
.more,
a h2,
a .home-intro,
a .article-date {
  font-family: 'Source Sans 3', sans-serif;
  text-align: left;
} */

.nav {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.more {
  text-align: center;
  margin-bottom: 20px;
}

.about {
  padding-right: 15px;
}

/* Layouts */

.container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.hero {
  background-image: url('./images/article-image-hero.png');
  background-size: cover;
  background-position: center;
  padding: 250px 20px 100px;
}

.hero .overlay-text-date,
.hero .overlay-text-headline,
.hero .overlay-para {
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  text-align: left;
}

.overlay-text-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.overlay-text-headline {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.03em;
  width: 90%;
}

.overlay-para {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.03em;
  width: 60%;
}

/* Grid */

.grid-container,
.recent-posts-grid-container {
  display: grid;
  grid-gap: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 15px;
  font-size: 30px;
  text-align: center;
}

/* Articles page styles */

.about-content,
.content {
  padding: 20px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
}

.date,
.title,
.intro,
.content {
  padding-left: 40px;
}

.date {
  padding-top: 60px;
}

.title {
  padding-top: 5px;
}

.intro,
.content {
  width: 90%;
}

.main-image {
  padding: 20px;
  width: 100%;
}

/* Media queries */

@media screen and (min-width: 601px) and (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto auto;
  }

  .welcome {
    display: flex;
    padding: 20px;
  }
}

@media screen and (min-width: 901px) {
  .hero {
    background-position: top;
    padding-top: 250px;
    padding-bottom: 175px;
  }

  .grid-container,
  .recent-posts-grid-container {
    grid-template-columns: auto auto auto;
  }

  .container {
    width: 860px;
    margin: 0 auto;
  }

  .welcome {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
}

.inactive {
  text-decoration: underline;
}
